* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
}

body {
    background-color: blue;
    width: fit-content;
    height: fit-content;
}
.App {
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculatorBase {
    width: 320px;
    height: 550px;
    background-color: #1f1f1f;
    border-radius: 10px;
}
